* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: url("./background.jpg") no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
    height: 100vh;
    background: linear-gradient(#ec110b, #1637df) no-repeat;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    opacity: 1;
    visibility: visible;
}

.container.hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.images {
    padding-top: 10px;
    gap: 20px;
}

img {
    max-width: 500px;
    border-radius: 50%;
    aspect-ratio: 1;
    transition: opacity 0.5s ease-in-out;
}

.img.hidden {
    opacity: 0;
}

.images {
    display: flex;
    flex-direction: row;
}

.btn {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;

}

.secret {
    font-size: 32px;
    padding: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 390px) {
    img {
        max-width: 200px;
        padding-inline: 10px;
    }
    body {
        background-size: 100% 100%;
    }
}