* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#ec110b, #1637df);
    background-repeat: no-repeat;
    color: white;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    aspect-ratio: 1;
}

img {
    max-width: 500px;
    transition: opacity 0.5s ease-in-out;
}

.img.hidden {
    opacity: 0;
}

.images {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: none;

}

@media (max-width: 800px) {
    img {
        max-width: 300px;
    }
}